.text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: gray;
    -fx-padding: 5 0 5 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.text-field:focused {
    -fx-prompt-text-fill: transparent;
}

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.check-box:selected .box {
    -fx-background-color: black;
    -fx-border-color: black;
}

.check-box .mark {
    -fx-background-color: white;
}

#btnAdmin,
#btnReceptionist,
#btnAdminLogin,
#btnReceptionistLogin {
    -fx-background-color: #023e8a;
    -fx-cursor: hand;
}

#btnAdmin:hover,
#btnReceptionist:hover,
#btnAdminLogin:hover,
#btnReceptionistLogin:hover {
    -fx-background-color: black !important;
}

#selectRolePane,
#adminLoginPane,
#receptionistLoginPane {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.icon {
    -fx-fill: #023e8a;
    -fx-cursor: hand;
    -fx-transition: fill 0.3s ease-in-out;
}

.icon:hover {
    -fx-fill: black;
}
