.table-view {
    -fx-background-color: white;
    -fx-border-color: #023e8a;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #023e8a;
    -fx-background-radius: 5;
    -fx-font-size: 15;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-background-color: white;
    -fx-border-color: #023e8a;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #023e8a;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #fff8e5;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
